-
   const pages = [
      {
         title: "Product",
         url: "#",
         child: [
            {
               title: "Overview",
               url: "#"
            },
            {
               title: "Pricing",
               url: "#"
            },
            {
               title: "Marketplace",
               url: "#"
            },
            {
               title: "Features",
               url: "#"
            },
            {
               title: "Integrations",
               url: "#"
            }
         ]
      },
      {
         title: "Company",
         url: "#",
         child: [
            {
               title: "About",
               url: "#"
            },
            {
               title: "Team",
               url: "#"
            },
            {
               title: "Blog",
               url: "#"
            },
            {
               title: "Careers",
               url: "#"
            }
         ]
      },
      {
         title: "Connect",
         url: "#",
         child: [
            {
               title: "Contact",
               url: "#"
            },
            {
               title: "Newsletter",
               url: "#"
            },
            {
               title: "LinkedIn",
               url: "#"
            }
         ]
      }      
   ]